:root {
  --color-brand-hue: 188;
  --color-brand-saturation: 84%;
  --color-brand-lightness: 43%;
  --color-brand: hsl(
    var(--color-brand-hue),
    var(--color-brand-saturation),
    var(--color-brand-lightness)
  );
  --color-brand-soft: hsl(
    calc(var(--color-brand-hue) + 2),
    calc(var(--color-brand-saturation) - 28%),
    calc(var(--color-brand-lightness) + 10%)
  );
  --color-brand-secundary: hsl(
    calc(var(--color-brand-hue) - 116),
    calc(var(--color-brand-saturation) - 14%),
    calc(var(--color-brand-lightness) + 13%)
  );

  --color-black-900: #000000;
  --color-black-700: #1a1a1a;
  --color-black-600: #1e1e20;
  --color-black-500: #313234;

  --color-white-900: #ffffff;
  --color-white-700: #f1f1f1;
  --color-white-600: #d9d9d9;
  --color-white-500: #e4e4f4;
}
